* {
  font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

body {
  background-color: white;
}

.body-container {
  margin: 0;
  height: fit-content;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: rgb(172, 168, 200);
  height: 100vh;
}

.login-styling {
  display: flex;
  align-self: center;
  width: 60%;
  height: 70%;
}

.login-form-container,
.login-art-container {
  background-color: white;
  height: 70vh;
  width: 50%;
}

.no-face-image {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

#username,
#password {
  margin: 10px 0px 10px 0px;
  width: 19.5vw;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  background-color: transparent;
}

.welcome-back-title {
  margin-bottom: -2px;
  font-size: 5vh;
}

.welcome-back-title,
.please-enter-details-title,
.login-label,
#username,
#password,
.login-button {
  margin-left: 3vw;
}

.login-button {
  height: 4vh;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.greeting-container {
  display: flex;
  justify-content: center;
  position: relative;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);

}

.resort-image {
  width: 100%;
}

.resort-name {
  position: absolute;
  margin-top: 3.5vw;
  font-size: 4vw;
  color: white;
  font-family: 'Cinzel';
  text-shadow: 4px 4px 10px #3d3d3d;
}

.booking-container {
  position: absolute;
  margin-top: 41vw;
  background-color: white;
  height: 12vh;
  width: 70vw;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.all-forms-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.date-form-container {
  display: flex;
  flex-direction: column;
}

.room-form-container {
  display: flex;
  justify-content: space-evenly;
  
}

.date-form, 
.room-form, 
.check-date-availability-button, 
.check-room-availability-button,
.guest-portal-button,
.book-button {
  padding: 10px;
  margin: 10px 0px 10px 0px;
  width: 19.5vw;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.login-button,
.book-button {
  width: 8vw;
}

.login-button,
.check-date-availability-button, 
.check-room-availability-button,
.guest-portal-button,
.book-button {
  background-color: rgb(118, 118, 118);
  color: white;
  transition-duration: 0.4s;
}

.login-button:hover,
.check-date-availability-button:hover, 
.check-room-availability-button:hover,
.guest-portal-button:hover,
.book-button:hover {
  background-color: #505050;
  color: white;
}

.guest-portal-container {
  display: flex;
  flex-direction: column;
}

.all-bookings-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15vh;
  padding-bottom: 5vh;
}


.past-bookings-container, 
.future-bookings-container {
  background-color: white;
  height: 30vh;
  width: 45vw;
  overflow-y:auto;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.past-bookings-title, 
.past-bookings-body, 
.future-bookings-title, 
.future-bookings-body,
.available-rooms-title,
.available-rooms-body,
.booked-message-title {
  margin: 20px 40px 20px 40px;
}

.available-rooms-title,
.login-error-message {
  text-align: center;
}

.spending-container-styling,
.available-rooms-styling {
  display: flex;
  justify-content: center;
}

.spending-container {
  position: relative;
  width: 45vw;
  display: flex;
  justify-content: space-evenly;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin-bottom: 10vh;
}

.available-rooms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: fit-content;
  width: 55vw;
  margin-top: 15vh;
  margin-bottom: 10vh;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.apology-title,
.booked-message-title {
  margin-top: -.7vh;
  text-align: -webkit-center;
}

.booked-message-title {
  margin-top: 20px;
}

p,
li {
  margin-top: -1px;
  margin-bottom: -1px;
}

.room-type-and-cost {
  font-size: 2.5vh;
}

.hidden {
  display: none;
}